# Compiled output
out/
*.class
build/

# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml
*.iml

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# macOS
.DS_Store
